#auth-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#or {
    color: #fafdff;
    font-size: 23px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.7%;

}

#cta-prompt {
    color: #bdbdbd;
    font-size: 18px;
    text-align: center
}

.prompt {
    color: #b982ff;
    font-size: 18px;
    font-weight: bold;
}