.message{
    background-color: #FFFFFF;
    border-radius: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* justify-content: space-between; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 16px;
    padding-left: 32px;
    margin-right: 38px;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-left: 70px;
    align-self: flex-end; 
    

}

.message-text{
    margin-right: 32px;
    
}